@font-face { 
	font-family: 'MyFont';
	src: url(./PixelMplus12-Regular.ttf);
}

body{
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: rgb(96, 96, 96);
	font-family: sans-serif, MyFont;
	line-height: 1.5em;
	font-size: 0.95em;
	overflow-x: hidden;
	background-color: white;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

div{
	display: inline-block;
}

a{
	color: rgb(96, 96, 96);
}

/*********************************************/
footer{
	text-align: center;
	margin-bottom: 10px;
	color: rgb(96, 96, 96);
}

#canvas{
	position: fixed;
	/*background-color: pink;*/
	display: block;
	z-index: -10000;
}

#topcanvas{
	position: fixed;
	/*background-color: pink;*/
	display: block;
	z-index: -1;
}
/*********************************************/
/*game*/
#backgroundimg img{
	width: 100%;
	overflow: hidden;
}

#menu{
	position: fixed;
	display: block;
	height: 50px;
	width: 100%;
	top:0px;
	background-color: white;
	border-top: 6px solid rgb(248, 250, 207);
	border-bottom: 6px solid rgb(248, 250, 207);
	z-index: 10000;
}
#menu #title{
	position: absolute;
	font-size: 48px;
	font-family: MyFont;
	left: 10px;
}
#inmenu{
	width: 700px;
	height: 50px;
	display: block;
	margin: 0 auto;
	/*background-color: pink;*/
}
#menu a{
	text-decoration: none;
	color: rgb(96, 96, 96);
	height: 50px;
	position: relative;
	top: 13px;
}
#menu a:hover{
	color: rgb(240, 230, 140);
}


#content{
	width: 600px;
	display: block;
	margin: 0 auto;
	padding: 100px 90px;
	/*padding: 50px 150px 15px 150px;*/
	/*z-index: 1000;*/
	background-color: rgba(255, 255, 255, 1);
	/*background-color: rgba(255, 255, 199, .5);*/

}

#timely{
	width: 100%;
	/*background: blue;*/
	margin: 30px 0 15px 0;
	padding: 0;
	top: 0;
}
#timely ul{
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
	display: inline-block;
	/*background: blue;*/
	position: absolute;
}
#timely img{
	margin: 0;
	padding: 0;
	width: 64px;
	height: 64px;
	align: left;
	display: inline-block;
}

#timely #playername{
	position: relative;
	top: -20px;
	font-size: 20px;
}

#puyo{
}

#preference_rank{
}

#content h4{
	font-size: 18px;
}
.space{
	/*margin-top: 100px;*/
	display: block;
	padding-bottom: 100px;
}
#content span{
	font-size: 20px;
	font-weight: normal;
	background-color: white;
	padding: 10px 10px;
	border-radius: 10px;
	border: 2px solid rgb(96, 96, 96);
	color: rgb(96, 96, 96);
}
#content span:hover{
	background-color: rgb(248, 250, 207);
}
#content .card a{
	text-decoration: none;
}


#imagepack .bef{
	cursor:pointer;
	border: 1.5px solid #000;
	border-radius: 10px;
	padding: 2px 8px;
	margin-bottom: 10px;
	width: 79px;
	text-align: center;
}

#imagepack .bef2{
	position: relative;
	cursor:pointer;
	border: 1.5px solid #000;
	border-radius: 10px;
	padding: 2px 8px;
	width: 79px;
	text-align: center;
	opacity: 0;
	margin-top: 10px;
}

#imagepack .bef:hover, #imagepack .bef2:hover{
	background: #eee;
}

#imagepack .aft{
	width: 310px;
	height: 225px;
	background:#fff;
	border:#666 1px solid;
	display:none;
	margin: 0;
	padding: 5px;
	overflow-y: scroll;
}

/*hover時、他要素にアクセスする*/
/*(>: 兄弟要素, +: 隣接要素)*/
#imagepack .aft:hover > #imdown{ 
	opacity: .85;
	-webkit-transition: 1s;
	transition: 1s;
}

#imdown{
	width: 35px;
	height: 35px;
	opacity: 0;
	/*position: absolute;*/
	position: relative;
	left: 133px;
	bottom: -100px;
}


#imagepack .aft ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#imagepack .aft li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#imagepack .aft .imbef{
	width: 35px;
	height: 35px;
	display: inline-block;
	padding: 5px;
	margin: 0;
}

#rank{
	/*position: absolute;*/
	/*top: 370px;*/
}

#rank table{
	border: 2px solid #000;
}
#rank th{
	border: 1.5px solid #000;
	margin: 0;
	padding: 3px 12px;
}

#rank td{
	text-align: center;
	border: 1.5px solid #000;
}

/*******************************************/
/*top page*/
#backgroundimg{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#backgroundimg img{
	width: 100%;
}

#line{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	max-height: 55px;
	margin-right: auto;
	margin-left: auto;
}

#imcontents{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 900px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#imcontents #title{
	font-size: 120px;
	position: relative;
	top: -40px;
	font-family: MyFont;
}

#imcontents img{
	display: block;
	position: absolute;
	bottom: 54px;
	width: 100%;
}

#imcontents a{
	text-decoration: none;
	color: rgb(96, 96, 96);
	font-size: 21px;
}

/*観覧車*/
#imcontents #kanransya{
	width: 100px;
	height: 111px;
	left: 235px;
}

#imcontents #kanransya:hover{
	width: 120px;
	height: 133px;
	left: 225;
	-webkit-transition: .3s;
	transition: .3s;
}

#kanransya:hover + #textkanransya{
	color: rgb(96, 96, 96);
	opacity: 1.0;
	-webkit-transition: .35s;
	transition: .35s;	

}

#textkanransya{
	position: absolute;
	left: 255px;
	bottom: 170px;
	opacity: 0.0;
	color: white;
}

/*小さいビル*/
@keyframes size_animation2{
	0{
		width: 82px;
		height: 184px;
		left: 345px;
	}
	50% {
		width: 182px;
		height: 184px;
		left: 295px;
	}
	75%{
		height: 420px;
	}
	100%{
		width: 82px;
		height: 184px;
		left: 345px;
	}
}

#imcontents #sbill{
	width: 82px;
	left: 345px;
}

#imcontents #sbill:hover{
	animation-name: size_animation2;
	animation-duration: .45s;
	animation-timing-function: ease;
	animation-iteration-count: 1; 
}


#sbill:hover + #textsbill{
	color: rgb(96, 96, 96);
	opacity: 1.0;
	-webkit-transition: 1s;
	transition: 1s;	

}

#textsbill{
	position: absolute;
	left: 355px;
	bottom: 227px;
	opacity: 0.0;
	color: white;
}

/*大きいビル*/
#imcontents #bill{
	width: 73px;
	height: 332px;
	left: 485px;
}

#imcontents #bill:hover{
	width: 83px;
	height: 380px;
	left: 480px;
	-webkit-transition: .3s;
	transition: .3s;
}

#textbill{
	position: absolute;
	left: 472px;
	bottom: 418px;
	opacity: 0.0;
}

#imcontents #bill:hover + #textbill{
	color: rgb(96, 96, 96);
	opacity: 1.0;
	-webkit-transition: .3s;
	transition: .3s;	
}

/*東京タワー*/
#imcontents #tower{
	width: 105px;
	height: 282px;
	left: 684px;
}

#imcontents #tower:hover{
	width: 125px;
	height: 335px;
	left: 674px;
	-webkit-transition: .3s;
	transition: .3s;
}

#texttower{
	position: absolute;
	left: 710px;
	bottom: 378px;
	opacity: 0.0;
}

#imcontents #tower:hover + #texttower{
	color: rgb(96, 96, 96);
	opacity: 1.0;
	-webkit-transition: .3s;
	transition: .3s;	
}

/*ドロイド君*/
@keyframes droid_walk{
	0{
		transform:rotateZ(-15deg);
	}
	50%{
		transform:rotateZ(15deg);	
	}
	100%{
		transform:rotateZ(-15deg);	
	}
}
#imcontents #droid{
	width: 100px;
	animation-name: droid_walk;
	animation-duration: .75s;
	animation-timing-function: liner;
	animation-iteration-count: infinite; 	
}

/*******************************************/
/*q and a*/
.qa a{
	text-decoration: none;
	color: rgb(96, 96, 96);
}

.qa a:hover{
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

.qa #q{
	list-style-type: none;
	margin-bottom: 500px;
	font-size: 17px;
}

.qa #q li{
	background-image: url("../img/droidkunb.png");
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 29px;
	margin-bottom: 15px;
	/*background-color: pink;*/
}

.qa #a{
	list-style-type: none;
}
.qa #a a{
	border-bottom: 1px solid;
	padding-bottom: 1px;
}

.qa #a a:hover{
	color: red;
}
.qa #a li p{
	margin-bottom: 15px;
	font-size: 18px;
}

.qa #a li{
	margin-bottom: 100px;
}
.qa img{
	padding-top: 13px;
	width: 170px;
}
/*********************************************/
/*contact*/
.contact{
}

.howtop{
	display: block;
	position: relative;
	left: 350px;
	top: -450px;
	z-index: ;
}






