@font-face { 
	font-family: 'MyFont';
	src: url(./PixelMplus12-Regular.ttf);
}

body{
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	background: white;
	font-family: MyFont,sans-serif;
	line-height: 1.5em;
	font-size: 0.95em;
	overflow-x: hidden;
/*	background-image: url("./img/178703.jpg");
	background-position: center;
	background-size: cover;
	*/	background-color: white;

}

div{
	display: inline-block;
}
/*********************************************/
/*index*/
#canvas{
	position: fixed;
	/*background-color: pink;*/
	display: block;
	z-index: -100000;
}

#backgroundimg img{
	width: 100%;
	/*height: 100%;*/
	/*display: block;*/
	/*position: absolute;*/
	overflow: hidden;
}

#backimg_droid{
	right: -200;
	bottom: 0;
	position: fixed;
	display: block;
	z-index: -1000000;
	height: 100%;
}

#menu{
	position: fixed;
	display: block;
	height: 500px;
	top: 80px;
	bottom: 0;
	/*margin-top: auto;*/
	/*margin-bottom: auto;*/
	/*background-color: red;*/

}
#icon{
	display: block;
	position: fixed;
	top: 0;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 80px;
	transform: rotateZ(-5deg);
	z-index: -100000;
	color: black;
}
#menu ul{
	list-style-type: none;
}
#menu li img{
	position: relative;
	width: 100px;
	height: 118px;
	left: -50px;
}

#menu li p{
	font-size: 18px;
	position: absolute;
	display: block;
	z-index: 1000;
	left: 12px;
	color: black;
}

#menu li img:hover + p{
	color: white;
}

#menu ul #red{
	transform: rotateZ(30deg);
}

#menu ul #yellow{
	transform: rotateZ(120deg);
}

#menu ul #green{
	transform: rotateZ(90deg);
}

#menu ul #blue{
	transform: rotateZ(45deg);
}

#content{
	width: 680px;
	height: 100%;
	display: block;
	float: top;
	margin: 0 auto;
	padding: 50px 15px 15px 15px;
	/*z-index: 1000;*/
	/*background-color: white;*/

}

#timely{
	width: 100%;
	/*background: blue;*/
	margin: 0 0 15px 0;
	padding: 0;
	top: 0;
}
#timely ul{
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
	display: inline-block;
	/*background: blue;*/
	position: absolute;
}
#timely img{
	margin: 0;
	padding: 0;
	width: 64px;
	height: 64px;
	align: left;
	display: inline-block;
}
#puyo{
	/*background: pink;*/
	width: 300px;
	height: 500px;
}
#preference_rank{
	/*background: yellow;*/
	position: absolute;
	margin-left: 20px;
}

#imagepack{

}

#imagepack .bef{
	display:block;
	cursor:pointer;
	border: 1.5px solid #000;
	border-radius: 10px;
	padding: 2px 8px;
	margin-bottom: 10px;
	width: 79px;
	text-align: center;
}

#imagepack .bef:hover{
	background: #eee;
}

#imagepack .aft{
	width: 310px;
	height: 225px;
	background:#f2f2f2;
	border:#666 1px solid;
	display:none;
	/*display: block;*/
	margin: 0;
	padding: 5px;
	overflow-y: scroll;
}

/*hover時、他要素にアクセスする*/
/*(>: 兄弟要素, +: 隣接要素)*/
#imagepack .aft:hover > #imdown{ 
	opacity: .85;
	-webkit-transition: 1s;
	transition: 1s;
}

#imdown{
	width: 35px;
	height: 35px;
	opacity: 0;
	position: absolute;
	left: 140px;
	bottom: 10px;
}

#yokoscroll{

}

#imagepack .aft ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#imagepack .aft li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#imagepack .aft .imbef{
	width: 35px;
	height: 35px;
	display: inline-block;
	padding: 5px;
	margin: 0;
}

#rank{
	position: absolute;
	top: 370px;
}

#rank table{
	border: 2px solid #000;
}
#rank th{
	border: 1.5px solid #000;
	margin: 0;
	padding: 3px 12px;
}

#rank td{
	text-align: center;
	border: 1.5px solid #000;
}

/*******************************************/
/*top page*/
#backgroundimg{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#backgroundimg img{
	width: 100%;
}

#line{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	max-height: 55px;
	margin-right: auto;
	margin-left: auto;
}

#imcontents{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 900px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#imcontents #title{
	font-size: 120px;
	position: relative;
	top: -40px;
}

#imcontents img{
	display: block;
	position: absolute;
	bottom: 54px;
	width: 100%;
}

#imcontents a{
	text-decoration: none;
	color: black;
	font-size: 21px;
}

/*観覧車*/
#imcontents #kanransya{
	width: 100px;
	height: 111px;
	left: 235px;
}

#imcontents #kanransya:hover{
	width: 120px;
	height: 133px;
	left: 225;
	-webkit-transition: .3s;
	transition: .3s;
}

#kanransya:hover + #textkanransya{
	color: #ffa3d1;
	opacity: 1.0;
	-webkit-transition: .35s;
	transition: .35s;	

}

#textkanransya{
	position: absolute;
	left: 255px;
	bottom: 165px;
	opacity: 0.0;
}

/*小さいビル*/
@keyframes size_animation2{
	0{
		width: 82px;
		height: 184px;
		left: 345px;
	}
	50% {
		width: 182px;
		height: 184px;
		left: 295px;
	}
	75%{
		height: 420px;
	}
	100%{
		width: 82px;
		height: 184px;
		left: 345px;
	}
}

#imcontents #sbill{
	width: 82px;
	left: 345px;
}

#imcontents #sbill:hover{
	animation-name: size_animation2;
	animation-duration: .45s;
	animation-timing-function: ease;
	animation-iteration-count: 1; 
}


#sbill:hover + #textsbill{
	color: #ffa3d1;
	opacity: 1.0;
	-webkit-transition: 1s;
	transition: 1s;	

}

#textsbill{
	position: absolute;
	left: 355px;
	bottom: 220px;
	opacity: 0.0;
}

/*大きいビル*/
#imcontents #bill{
	width: 73px;
	height: 332px;
	left: 485px;
}

#imcontents #bill:hover{
	width: 83px;
	height: 380px;
	left: 480px;
	-webkit-transition: .3s;
	transition: .3s;
}

/*東京タワー*/
#imcontents #tower{
	width: 105px;
	height: 282px;
	left: 684px;
}

#imcontents #tower:hover{
	width: 125px;
	height: 335px;
	left: 674px;
	-webkit-transition: .3s;
	transition: .3s;
}

/*ドロイド君*/
@keyframes droid_walk{
	0{
		transform:rotateZ(-15deg);
	}
	50%{
		transform:rotateZ(15deg);	
	}
	100%{
		transform:rotateZ(-15deg);	
	}
}
#imcontents #droid{
	width: 100px;
	animation-name: droid_walk;
	animation-duration: .75s;
	animation-timing-function: liner;
	animation-iteration-count: infinite; 	
}


